*{padding: 0;margin: 0}
.boder{
	width: 400px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #ccc;
	 /*-webkit-transform: translate(-50%,-50%); 
      -ms-transform: translate(-50%,-50%);                  /*用于不限定高度，内容撑开div高度情况*/
      /*    transform: translate(-50%,-50%); */
	
	margin: -100px 0 0 -200px;
}
.top_left{
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius: 0 0 50px 0;
	position: absolute;
}
.bottom_right{
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius: 50px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
}