*{padding: 0;margin: 0}
body{
	font-family: "微软雅黑";
}

/*------------------------left--------------------------*/
.boder{
	background-color: #eee;
	border: 1px solid #999;
	width: 95%;
	height: 580px;
	margin: 0 auto;
	margin-top: 30px;
}
.team{
	width: 200px;
	height: 150px;
	background-color: #fff;
	border: 1px solid #999;
	margin:30px 0 0 30px;
	position: relative;
	float: left;
}
.team div{
	height: 80px;
	width: 80px;
	position: absolute;
	left: 20px;
	top: 30px;
	background-color: #999;
}
.team p{
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 20px;
}
/*------------------------left--------------------------*/


/*------------------------center--------------------------*/
.center{
	width: 63%;
	height: 500px;
	background-color: #fff;
	float: left;
	margin-left: 40px;
	margin-top: 30px;
}
.center h1{
	text-align: center;
	color: red;
	margin-top: 20px;
}
.center h2{
	margin-left: 30px;
	margin-top: 10px;
}
.center p{
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
}
/*------------------------center--------------------------*/



/*------------------------right--------------------------*/
.person{
	height: 524px;
	width: 120px;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #999;
}
.person img{
	width: 80px;
	height: 80px;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #999;
}
/*------------------------right--------------------------*/